<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          media="screen"
          rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.4.1/jquery.min.js"
            th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <link href="../static/css/springapp.css"
          media="screen" rel="stylesheet" th:href="@{css/springapp.css}">


</head>
<body>
<div class="container" style="text-align: justify">
    <h1>Hello and Welcome</h1>
    <h2 style="background-color: #34465d;color: aliceblue; border-radius: 20px;padding: 20px"> This project will show
        you an example
        of Spring MVC and
        Spring Boot
        Application which works as
        crud
        application. In
        this project I didnt provide any database or ORM like hibernate , I just use hashmaps to store data without any
        details of database or ORM. So you can just run it by jvm and then it uses Thymleaf as template engine for view
        layer . This is not a real full detail project it's just a lightweight for learning purpose. you can ask your
        questions by <a href="mailto: aliseylaneh@gmail.com"> aliseylaneh@gmail.com</a>.
        click on the below button to enter the system.</h2>

    <table class="table table-striped">
        <tr>
            <td align="center">
                <button class="btn btn-danger btn-block" onclick="window.location.href='customers.html'">Enter</button>
            </td>
        </tr>
    </table>
</div>

</body>
</html>